name: Backend Services CI (Publish)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'API/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [AuthService, DeliveryService, MenuService, OrderDispatchService]

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker image
      shell: bash
      run: |
        SERVICE_NAME=$(echo "${{ matrix.service }}" | tr '[:upper:]' '[:lower:]')
        
        IMAGE_TAG="${{ secrets.DOCKERHUB_USERNAME }}/$SERVICE_NAME:latest"
        
        echo "Building and Pushing $IMAGE_TAG..."
        
        docker build . -t $IMAGE_TAG
        
        docker push $IMAGE_TAG
      working-directory: ./API/${{ matrix.service }}