name: Gateway Config Check

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'gateway/**'

jobs:
  check-nginx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Test Nginx Config
        # Ми додаємо --add-host для кожного сервісу, який згадується у твоєму nginx.conf
        # Це емулює наявність цих сервісів, щоб Nginx не падав з помилкою "host not found"
        run: |
          docker run --rm \
            -v $(pwd)/gateway/nginx.conf:/etc/nginx/nginx.conf:ro \
            --add-host authservice:127.0.0.1 \
            --add-host deliveryservice:127.0.0.1 \
            --add-host menuservice:127.0.0.1 \
            --add-host orderdispatchservice:127.0.0.1 \
            nginx nginx -t